.head-icon {
    background: rgb(230, 249, 249);
    color: rgb(6, 153, 163);
}

.card-header {
    border: none;
    background: white;
}

.rating-icon {
    color: rgb(87, 42, 200)
}

.book-btn {
    background-color: white;
    border-color: rgb(197, 180, 245);
    color: rgb(110, 66, 229);
}

.book-btn:active {
    background-color: white;
    border-color: rgb(197, 180, 245);
    color: rgb(110, 66, 229);
}

.book-btn:hover {
    background-color: white;
    border-color: rgb(197, 180, 245);
    color: rgb(110, 66, 229);
}

.book-btn:focus {
    background-color: white;
    border-color: rgb(197, 180, 245);
    color: rgb(110, 66, 229);
}

.price-btn {
    background-color: white;
    border-color: black;
    color: black;
}

.price-btn:visited {
    background-color: white;
    border-color: black;
    color: black;
}

.price-btn:active {
    background-color: white;
    border-color: black;
    color: black;
}

.price-btn:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.price-btn:focus {
    background-color: white;
    border-color: black;
    color: black;
}

.price-btn {
    background-color: white !important;
    border-color: black !important;
    color: black !important;
}

.book-btn {
    background-color: white !important;
    border-color: rgb(197, 180, 245) !important;
    color: rgb(110, 66, 229) !important;
}